{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Encyklopedia fitoterapii</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Internetowa encyklopedia ziołolecznictwa" />
    <meta name="keywords" content="fioterepia, ziołolecznictwo, zioła, encyklopedia," />
    <meta name="author" content="Grzegorz Giedrojć" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/encyklopedia_app.css' %}" >
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="https://kit.fontawesome.com/62005719a4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static '/js/encyklopedia_app.js' %}"></script>
  </head>
  <body>
    <header>

      <nav class="navbar navbar-scroll navbar-expand-lg navbar-dark bg-fade fixed-top">
        <a
          class="navbar-brand"
          href="{% url 'post_list' %}">
          <img src="/static/img/logo.png" height="38px"  alt="Logo serwisu"/>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          id="navbarsExampleDefault"
          class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'fitoterapia' %}">
                <i class="fas fa-leaf"></i>&nbsp;Fitoterapia
              </a>
            </li>

            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'post_list' %}">
                <i class="fas fa-book"></i>&nbsp;Encyklopedia&nbsp;ziół
              </a>
            </li>

            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'o_aplikacji' %}">
              <i class="fas fa-info"></i>&nbsp;O&nbsp;serwisie
              </a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'logout' %}">
              <i class="fas fa-feather-alt"></i>&nbsp;Wyloguj się
              </a>
            </li>

            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'domowa_apteczka' %}">
              <i class="fas fa-first-aid"></i>&nbsp;Domowa&nbsp;apteczka
              </a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'register' %}">
              <i class="fas fa-feather-alt"></i>&nbsp;Rejestracja
              </a>
            </li>

            <li class="nav-item active">
              <a
                class="nav-link"
                href="{% url 'login' %}">
              <i class="fas fa-feather-alt"></i>&nbsp;Zaloguj się
              </a>
            </li>
            {% endif %}

          </ul>

          <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="&#xF002; Szukaj"
              aria-label="Szukaj" style="font-family:Arial, FontAwesome" id="search" name="search">
            <button
              class="btn btn-success my-2 my-sm-0"
              type="submit">
              Wyszukaj
            </button>
          </form>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid navbar-pic" id="top-pic">
        <div class="container">
          <h1 class="tytul"><b>Multimedialna encyklopedia fitoterapii</b></h1>
        </div>
      </div>

    </header>

      {% block content %}
      {% endblock %}

      <script type="text/javascript" id="cookieinfo"
	        src="//cookieinfoscript.com/js/cookieinfo.min.js">
      </script>


    <footer>
      <div class="container-fluid bg-primary">
        <div class="row">
          <div class="col-xs-6 col-md-4 left">
            <p>&copy; EncFit.pl</p>
          </div>
          <div class="col-xs-6 col-md-4 center">
            <p class="copyright"> EncFit; Grzegorz Giedrojć- Wszelkie prawa zastrzeżone.</p>
          </div>
          <div class="col-xs-6 col-md-4 right">
            <a href="https://twitter.com/" class="btn btn-social-icon btn-twitter" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/" class="btn btn-social-icon btn-facebook" target="_blank">
              <si class="fa fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/?hl=pl" class="btn btn-social-icon btn-instagram" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="#" class="btn btn-social-icon btn-email">
              <i class="fa fa-envelope-o"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
