{% extends 'encyklopedia_app/base.html' %}

{% block content %}

<div class="jumbotron mb-0">
  <div class="container">
    <h1 class="display-4">Historia fitoterapii</h1>
    <hr>
    <p class="justify">Fitoterapia jest najstarszą formą farmacji i medycyny. Towarzyszy ona ludzkości od czasów prehistorycznych. Pierwsi ludzie, kierując się instynktem i obserwując chore zwierzęta, zbierali i jedli rośliny, aby pozbyć się chorób i urazów. Wiedza o roślinach leczniczych była przekazywana następnym pokoleniom i wraz z biegiem lat powiększała się o kolejne gatunki.</p>

    <p class="justify">Ziołolecznictwo cieszyło się dużą popularnością w starożytnych cywilizacjach. Już 3000 lat przed naszą erą Pen Ts’ao Ching, doskonały chiński znawca ziół, opisał zbiór 365 leków pochodzenia m.in. roślinnego, z których ok. 100 używanych jest do dziś.</p>

    <p class="justify">Szczególny rozwój fitoterapia doznała w starożytnym Egipcie, gdzie zioła używano także w celach kosmetycznych i do balsamowania ciał zmarłych. Wiadomo, że starożytni Egipcjanie znali m.in. dezynfekujące właściwości tymianku, czy pozytywne działanie piwa na pracę jelit.</p>

    <p class="justify">Wiedzę Egipcjan zapożyczyli Grecy. Wytworzyły się nowe specjalistyczne zawody jak rizomtowie, którzy zbierali zioła i farmakole, którzy wykorzystywali je do produkcji leków. Leki te następnie sprzedawali w miejscach zwanych apotheke W Grecji ludzie zaczęli podchodzić do ziół w sposób bardziej naukowy niż Egipcjanie, którzy wykorzystywali je często do obrzędów religijnych. Następnie wiedza Greków została zagarnięta i rozbudowana przez Rzymian. Do rozwoju przyczynili się rzymscy lekarze tacy jak Marek Aureliusz, czy Galen, którego receptury używane są do dziś. Galen zaczął zwracać szczególną uwagę na sposób podawania i jakość leków.</p>

    <p class="justify">W średniowieczu ziołolecznictwem zajmowali się zakonnicy, którzy uprawiali zioła w przyklasztornych ogrodach. Jako pierwsi  zaczęli to robić Benedyktyni z Monte Cassino, lecz równie dobrzy byli w tym Cystersi. Cystersi zakładali swoje klasztory z dala od cywilizacji. Aby stworzyć odpowiednie warunki do modlitwy ograniczali oni styczność ze światem zewnętrznym do minimum, więc musieli być jak najbardziej samowystarczalni. Tworzyli oni swoje ogrody, a z rosnących w nich roślin tworzyli leki.</p>

  </div>
</div>

{% endblock %}
