{% extends 'encyklopedia_app/base.html' %}

{% block content %}

<div class="jumbotron mb-0">
  <div class="container">
    <section>
      <h1 class="display-4">O serwisie</h1>
      <hr />
      <p>Aplikacja została stworzona przez Grzegorza Giedojć, studenta IV roku Inżynierii biomedycznej Politechniki Białostockiej jako praca inżynierska. Jest to projekt multimedialnej encyklopedii "Fitoterapia w profilaktyce i terapii chorób" w formie apliakcji internetowej.</p>

      <p>W serwisie znajdziesz informacje na temat 40 ziół, chorób których terapię wspomagają i ich stosowania. Każda roślina jest opatrzona grafiką z serwisu pixabay.com.</p>

      <h3>Bibliografia:</h3>
      <ul>
        <li>Skarzyński, A. (1994). Ziół a czynią cuda. Agencja Wydawnicza" Comes".</li>
        <li>Różański, H. (2002). Zielarstwo i metody fitoterapii. [online] http://www.rozanski.ch/fitoterapia1.htm [dostęp: 09.01.2021]</li>
        <li>Różański, H. (2002). Zielarstwo i metody fitoterapii. [online] http://www.rozanski.ch/fitoterapia2.htm [dostęp: 14.01.2021]</li>
        <li>Różański, H. (2002). Fitoterapia, czyli ziołolecznictwo [online] http://www.rozanski.ch/fitoterapia3.htm [dostęp: 14.01.2021]</li>
      </ul>
    </section>
    <hr />
    <br />
  </div>
</div>

{% endblock %}
