{% extends 'encyklopedia_app/base.html' %}

{% block content %}
    <div class="jumbotron ">
      <div class="container">
        <div class="naglowek-nazwa">
          {{ post.nazwa }}
        </div>
        <div class="row" style="margin-top: 20px;">
          <img src="{{post.zdjecie.url}}" class="img-fluid rounded col-md-4" style="object-fit: cover;" alt= "zdjecie rośliny"/>

          <p class="col-md-7 text-justify"><br class="d-md-none"/>{{ post.opis|linebreaksbr }}</p>
        </div>
        <p style="text-align: left;">
          &copy; Pixabay
        </p>
        <br />
        <hr />
        <br />
        <div>
          <p class="display-4" style="text-align: left;">
            Na co pomaga? <i class="fas fa-viruses"></i>
          </p>
          <p class="text-justify">
            </i>{{ post.choroby|linebreaksbr }}
          </p>
          <br />
          <hr />
          <br />
          <div>
            <p class="display-4" style="text-align: left;">
              Stosowanie <i class="fas fa-mortar-pestle"></i>
            </p>
            <p class="text-justify">
              {{ post.zastosowanie|linebreaksbr }}
            </p>
        </div>
      </div>
    </div>
    <br />
  </div>
{% endblock %}
