{% extends 'encyklopedia_app/base.html' %}

{% block content %}
    <div class="jumbotron mb-0">
      {% if messages %}
      <ul class="messages">
             {% for message in messages %}
                   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endfor %}
             </ul>
      {% endif %}
      <div class="container">
        <div class="naglowek-nazwa">
          {{ post.nazwa }}
        </div>
        <div class="row" style="margin-top: 20px;">
          <img src="{{post.zdjecie.url}}" class="img-fluid rounded col-lg-4" style="object-fit: cover;" alt= "zdjecie rośliny"/>

          <p class="col-lg-6 text-justify"><br class="d-lg-none"/>{{ post.opis|linebreaksbr }}</p>
          {% if user.is_authenticated %}
          <p class="col-lg-1 text-justify">
            <a href="{% url 'dodaj_ziolo' pk=post.pk %}"><button class="btn btn-success my-2 my-sm-0" type="submit">Dodaj</button></a>
          </p>

          <p class="col-lg-1 text-justify">
            <a href="{% url 'usun_ziolo' pk=post.pk %}"><button class="btn btn-danger my-2 my-sm-0" type="submit">Usuń</button></a>
          </p>
          {% endif %}
        </div>
        <p style="text-align: left;">
          &copy; Pixabay
        </p>
        <br />
        <hr />
        <br />
        <div>
          <p class="display-4" style="text-align: left;">
            Na co pomaga? <i class="fas fa-viruses"></i>
          </p>
          <p class="text-justify">
            </i>{{ post.choroby|linebreaksbr }}
          </p>
          <br />
          <hr />
          <br />
          <div>
            <p class="display-4" style="text-align: left;">
              Stosowanie <i class="fas fa-mortar-pestle"></i>
            </p>
            <p class="text-justify">
              {{ post.zastosowanie|linebreaksbr }}
            </p>
        </div>
      </div>
    </div>
    <br />
  </div>
{% endblock %}
