{% extends 'encyklopedia_app/base.html' %}

{% block content %}
  <div class="jumbotron" style="margin-bottom: 0;">
    <div class="zbior">
      <ul class="pod-zbior">
      {% for post in posts %}
      <li>
        <a href="{% url 'post_detail' pk=post.pk %}">
          <div class="element" style="background: url({{post.zdjecie.url}}); height: 100%; width: 100%; background-position: center;">
            <div class="opis" >
              <h3 style="text-transform: uppercase;">{{ post.nazwa }}</h3>
              <p>{{ post.krotki_opis }}</p>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>


    <div class="paginator">
      {% if posts.has_previous %}
      <a class="paginator-arrow" href="?page=1" style=""><i class="fas fa-angle-double-left"></i></a>
      <a class="paginator-arrow" href="?page={{ posts.previous_page_number }}"><i class="fas fa-angle-left"></i></a>

      {% endif %}

      {% for num in posts.paginator.page_range %}

        {%  if posts.number == num %}

            <span class="paginator-number paginator-current" style="color: white; text-decoration: inherit;">{{ num }}</span>

        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}

            <a class="paginator-number" href="?page={{ num }}" style="color: white; text-decoration: inherit;">{{ num }}</a>

        {% endif %}

      {% endfor %}

      {% if posts.has_next %}

      <a class="paginator-arrow" href="?page={{ posts.next_page_number }}"><i class="fas fa-angle-right"></i></a>
      <a class="paginator-arrow" href="?page={{ posts.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>

      {% endif %}
    </div>
{% endblock %}
