{% extends 'encyklopedia_app/base.html' %}

{% block content %}

  {% for post in posts %}
  <div class="jumbotron mb-0">
    <div class="zbior">
      <ul class="pod-zbior">
      {% for post in posts %}
      <li>
        <a href="{% url 'post_detail' pk=post.pk %}">
          <div class="element" style="background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.10)), url({{post.zdjecie.url}}); height: 100%; width: 100%; background-position: center;">
            <div class="opis" >
              <h3 style="text-transform: uppercase;">{{ post.nazwa }}</h3>
              <p>{{ post.krotki_opis }}</p>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

{% endblock %}
